// -------------------------- Variables
// -------------------------- Colores
$ppal-background-color: #ffa214;
$sec-background-color: #ffc511;
$color-solid-black: #030303;
$color-solid-white: #eeeeee;
$color-lose: #922222;
$color-win: #57d157;
$color-draw: #b99c45;

// -------------------------- Sombras
$initial-shadow: 0 15px 25px rgba(0, 0, 0, 0.16);

// -------------------------- Fonts
$ppa-fonts: "Roboto", sans-serif;
