/*
=============================================
=============    Import         =============
===================================|=========
*/
@-webkit-keyframes reflectEffect {
  100% {
    background-position: -100% 0;
  }
}
@keyframes reflectEffect {
  100% {
    background-position: -100% 0;
  }
}

/*
=============================================
=============    CSS Principal  =============
===================================|=========
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.back-container {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffa214), to(#ffc511));
  background: linear-gradient(to top, #ffa214, #ffc511);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .box-game {
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(white, rgba(255, 255, 255, 0.5));
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.16);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.16);
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

.main .box-game .box-game_title {
  height: 60px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 12px;
}

.main .box-game .box-game_title span {
  font-weight: bold;
  font-size: 14px;
}

.main .box-game .box-game_icons {
  height: 100px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .box-game .box-game_icons button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffc511;
  color: #030303;
  font-size: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .box-game .box-game_icons button:hover {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.main .box-game .box-game_choice {
  height: 50px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .box-game .box-game_choice span {
  font-weight: bold;
  font-size: 16px;
}

.main .box-game .box-game_info {
  height: 50px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.win {
  width: 60%;
  margin: 0 auto;
  border-radius: 6px;
  background: linear-gradient(120deg, #57d157 30%, #eeeeee 38%, #eeeeee 40%, #57d157 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: reflectEffect 2s infinite;
          animation: reflectEffect 2s infinite;
}

.lose {
  width: 60%;
  margin: 0 auto;
  border-radius: 6px;
  background: linear-gradient(120deg, #922222 30%, #eeeeee 38%, #eeeeee 40%, #922222 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: reflectEffect 2s infinite;
          animation: reflectEffect 2s infinite;
}

.draw {
  width: 60%;
  margin: 0 auto;
  border-radius: 6px;
  background: linear-gradient(120deg, #b99c45 30%, #eeeeee 38%, #eeeeee 40%, #b99c45 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: reflectEffect 2s infinite;
          animation: reflectEffect 2s infinite;
}
/*# sourceMappingURL=main.css.map */